.input
  display inline-block
  margin 10px auto
  white-space nowrap

  *
    font-size: 17px


  input[type="text"]
    display inline-block
    border-radius: 4px
    min-width 170px
    

    &.error
      border: 1px solid red !important

      &:focus
        outline 2px solid red

  button
    display inline-block
  